@charset "UTF-8";
/* H1 */
.titulo {
  text-align: center;
  font-family: "Times New Roman";
  color: rgb(0, 106, 162);
}

/* Nav */
.nav-color {
  background-color: rgb(0, 106, 162);
  margin-top: -4px;
  margin-left: -5px;
  padding-left: 10px;
  padding-bottom: 10px;
}

.nav-item-color {
  color: white;
}
.nav-item-color:hover {
  color: #1A1A1A;
  font-weight: 450;
  transition: 0.5s;
}

.nav-title {
  margin-top: 8px;
}

.nav-menu {
  margin-top: 8px;
}

.nav-item {
  margin-top: 8px;
}

/* Cartas*/
.card-title {
  text-align: center;
  color: rgb(0, 106, 162);
}

.articulos-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 50px;
}

.estilo-carta {
  background-color: #F1F3F4;
}

.tamaño-foto-art {
  width: auto;
  height: auto;
  object-fit: cover;
}

.articulo-texto {
  text-align: center;
  color: rgb(0, 106, 162);
}
.articulo-texto span {
  color: #1A1A1A;
  font-weight: bold;
}

.boton-articulos {
  color: rgb(0, 106, 162);
  font-weight: 500;
  margin-left: 121px;
}
.boton-articulos:hover {
  color: #F1F3F4;
  transition: 0.5s;
}

.estilo-boton {
  background-color: transparent;
  border: 2px solid rgb(0, 106, 162);
}
.estilo-boton:hover {
  background-color: rgb(0, 106, 162);
  border: 2px solid #1A1A1A;
  transition: 0.5s;
}

.btn-carilux {
  margin-top: 5px;
}

.bot-pos {
  margin-left: 150px;
}

/*SOBRE NOSOTROS*/
.subtitulo {
  font-weight: bold;
  text-decoration: underline;
  text-decoration-thickness: 3px;
}

.info-item {
  margin-top: 20px;
  margin-left: 15px;
  margin-right: 15px;
  padding: 20px;
  background-color: #F1F3F4;
  border: 2px solid #1A1A1A;
  box-shadow: 10px 5px 5px #1A1A1A;
  transition: 0.5s;
}
.info-item:hover {
  margin-top: 30px;
  margin-left: 0px;
  margin-right: 0px;
  transition: 1s;
}

.subtitulo {
  color: rgb(0, 106, 162);
  font-weight: 400;
}

.parrafo {
  color: rgb(0, 106, 162);
}

/*-----------------MARCAS-------------------*/
.marcas-container {
  display: grid;
  justify-content: space-around;
  grid-template-columns: repeat(auto-fit, 200px);
  column-gap: 10px;
  row-gap: 10px;
}

/*-------------------FAQ------------------------------------*/
h1 {
  font-size: 50px;
  margin-top: 50px;
}

.accordion-item {
  margin-top: 0px;
}

.color-fondo-preguntas {
  background-color: #F1F3F4 !important;
}

.color-pregunta {
  color: rgb(0, 106, 162);
}

.color-respuesta {
  color: #1A1A1A;
}

.estilo-preguntas {
  padding: 30px;
  box-shadow: 10px 5px 5px #1A1A1A;
  transition: 1s;
}

.accordion-body {
  box-shadow: 10px 5px 5px #1A1A1A;
}

.preguntas {
  margin-left: 15px;
  margin-right: 15px;
}

/*------------------CONTACTO ------------------------*/
.contacto-item p a {
  color: rgb(0, 106, 162);
  font-size: 1.5rem;
  margin-left: 230px;
  display: block;
  margin-top: -50px;
  padding: 10px 0px 10px 0px;
}
.contacto-item p a:hover {
  color: #1A1A1A;
}
.contacto-item span {
  color: rgb(0, 106, 162);
  font-size: 1.2rem;
  margin-left: 380px;
  display: block;
  margin-top: -50px;
  padding: 10px 0px 10px 0px;
}

.subtitulo-contacto {
  font-size: 2.5rem;
}

.dias {
  font-size: 1.2rem;
  color: rgb(0, 106, 162);
  margin-left: 230px;
  display: block;
  margin-top: -50px;
  padding: 10px 0px 10px 0px;
}

.contacto-container {
  background-color: #F1F3F4;
  margin-top: 50px;
  padding-top: 10px;
  padding-bottom: 5px;
  justify-content: space-between;
}

.icons {
  margin-left: 150px;
}

.sabado {
  margin-left: 294px;
}

/*------------------FOOTER-----------------------*/
footer {
  background-color: rgb(0, 106, 162);
}
footer ul {
  list-style-type: none;
}
footer ul a {
  font-weight: 500;
  color: #1A1A1A;
  text-decoration: none;
  transition: 0.4s;
}
footer ul a:hover {
  color: white;
  font-weight: 500;
  transition: 0.4s;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.titulo-footer {
  color: white;
  text-decoration: underline;
  font-size: 1.3rem;
  margin-left: 30px;
}

/* Medios de Pago */
.medios-de-pago .tarjetas {
  margin-top: 25px;
}
.medios-de-pago .mp, .medios-de-pago .cabal, .medios-de-pago .naranja, .medios-de-pago .nativa {
  margin-top: 3px;
}

.medioDePago {
  width: 50px;
  height: 30px;
}

/* Contacto */
.contacto-png {
  width: 30px;
  height: 30px;
}

.footer-text {
  margin-left: 30px;
}
.footer-text a {
  font-weight: 500;
  color: #1A1A1A;
  text-decoration: none;
  transition: 0.4s;
}
.footer-text a:hover {
  color: white;
  font-weight: 500;
  transition: 0.4s;
}

@media only screen and (max-width: 504px) {
  /*------------------CONTACTO ------------------------*/
  .contacto-item p a {
    margin-left: 130px;
  }
  .contacto-item span {
    margin-left: 280px;
  }
  .dias {
    margin-left: 130px;
  }
  .icons {
    margin-left: 50px;
  }
  .sabado {
    margin-left: 194px;
  }
}
@media only screen and (max-width: 420px) {
  /*------------------CONTACTO ------------------------*/
  .contacto-item p a {
    margin-left: 100px;
  }
  .contacto-item span {
    margin-left: 250px;
  }
  .dias {
    margin-left: 100px;
  }
  .icons {
    margin-left: 20px;
  }
  .sabado {
    margin-left: 164px;
  }
}
@media only screen and (max-width: 388px) {
  .contacto-item p a {
    margin-left: 80px;
  }
  .contacto-item span {
    margin-left: 230px;
  }
  .dias {
    margin-left: 80px;
  }
  .icons {
    margin-left: 0px;
  }
  .sabado {
    margin-left: 144px;
  }
}
/*------------------FOOTER ------------------------*/
@media only screen and (max-width: 333px) {
  .contacto-query {
    margin-top: 20px;
    margin-left: 115px;
  }
}
/*Copyright*/
.copyright {
  position: absolute;
  margin-right: 100%;
  margin-top: 400px;
}

/* IFRAME */
iframe {
  width: 100%;
  margin-top: 50px;
}

/*BOTON DE WHATSAPP*/
.boton-whatsapp {
  position: fixed;
  width: 55px;
  height: 55px;
  line-height: 55px;
  bottom: 30px;
  right: 30px;
  background: #40C351;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 0px 1px 10px rgb(0, 0, 0);
  z-index: 100;
  transition: 0.3s;
}
.boton-whatsapp:hover {
  text-decoration: none;
  background: #FCFCFD;
  transition: 0.3s;
}

.carousel {
  width: 80%;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}

/*# sourceMappingURL=styles.css.map */
