div {
    background-color: beige;
    width: 400px;
    height: 250px;

    /* pading o relleno */
    padding-top: 20px;
    padding-right: 40px;
    padding-bottom: 10px;
    padding-left: 100px;

    /* el mismo relleno para los cuatro lados*/
    padding: 60px;

    /* vertical y horizontal */
    padding: 200px 40px; /*Primer valor vertical, segundo valor horizontal*/

    /* los cuatro lados */
    padding: 20px 40px 60px 100px;

    /* Border */
    border: 1px solid black; /* los 3 campos son obligatorios*/
    border-bottom: 1px solid blue;

    /* Margin */
    margin-top: auto;
    margin-right: auto ;
    margin-bottom: auto;
    margin-left: auto;
    margin: auto;

    /* Display - Pone el elemento en linea pero respeta los anchos, altos ybox model de los elementos internos*/
    display: inline-block;

    /* oculta la caja y borra el espacio que oculta*/
    display: none;

    /* Se habilitan los cuatro lados 
    la caja se va a mover segun su posicion natural*/
    position: relative;
    top: 80px;
    left: 200px;

    /* Los cuatro lados son los de la ventana en la que se ve la web*/
    position: absolute; /*Sirve para poner un texto sobre una imagen*/
    top: 80px;
    left: 240px;

    /* Deja fijo el elemento en la posicion que le indiquemos*/
    position: fixed;
    top: 0; /*Sirve para mostrar siempre el nav */

    /*Se activa recien cuando llega a la medida indicada*/
    position: sticky;

    /*Hace que el plano este siempre por delante del contenido*/
    z-index: 1; 

    /*Hace que el plano este siempre por detras del contenido*/
    z-index: -1;


/* Flex */
    section {
        display: flex;
    }
}

/* Flex direction */
.img-one {
    flex-direction: column;
}
    

/* Flex wrap - Automatiza que no desborde nuestro body */
section {
    flex-wrap: wrap;
}

.img-two {
    /* Flex Flow - Une los valores de direction y wrap*/
    flex-flow: row wrap;
}


