/* Cartas*/
$color-principal: rgb(0, 106, 162);
$color-secundario: white;
$color-terciario: #1A1A1A;
$color-fondo: #F1F3F4;

.card-title {
    text-align: center;
    color: $color-principal;
}


.articulos-container {
    display: flex;
    justify-content:space-around;
    flex-wrap: wrap;
    margin-top: 50px;
}

.estilo-carta {
    background-color: $color-fondo;
}

.tamaño-foto-art {
    width: auto;
    height: auto;
    object-fit: cover;
} 


.articulo-texto {
    text-align: center;
    color: $color-principal;

    span {
        color: #1A1A1A;
        font-weight: bold;
    }
}

.boton-articulos {
    color: $color-principal;
    font-weight: 500;
    margin-left: 122px ;

    &:hover {
        color: $color-fondo;
        transition: 0.5s;
    }
}

.estilo-boton {
    background-color: transparent;
    border: 2px solid $color-principal;
    
    &:hover {
        background-color: $color-principal;
        border: 2px solid $color-terciario;
        transition: 0.5s;
    }
}


.bot-pos {
    margin-left: 150px;
}

