/*------------------CONTACTO ------------------------*/
$color-principal: rgb(0, 106, 162);
$color-secundario: white;
$color-terciario: #1A1A1A;
$color-fondo: #F1F3F4;

.contacto-item {
    
    p {
        a{
            color: $color-principal ;
            font-size: 1.5rem;
            margin-left: 230px;
            display: block;
            margin-top: -50px;
            padding: 10px 0px 10px 0px;

            &:hover {
                color: $color-terciario ;
            }
        }
    }

    span {
        color: $color-principal;
        font-size: 1.2rem;
        margin-left: 380px;
        display: block;
        margin-top: -50px;
        padding: 10px 0px 10px 0px;
    }
}

.subtitulo-contacto{
    font-size: 2.5rem;
}

.dias {
    font-size: 1.2rem;
    color: $color-principal;
    margin-left: 230px;
    display: block;
    margin-top: -50px;
    padding: 10px 0px 10px 0px;
} 

.contacto-container {
    background-color: $color-fondo;
    margin-top: 50px;
    padding-top: 10px;
    padding-bottom: 5px;
    justify-content: space-between;
}

.icons {
    margin-left: 150px;
}

.sabado {
    margin-left: 294px;
}