/*-------------------FAQ------------------------------------*/
$color-principal: rgb(0, 106, 162);
$color-secundario: white;
$color-terciario: #1A1A1A;
$color-fondo: #F1F3F4;

h1 {
    font-size: 50px;
    margin-top: 50px;
}

.accordion-item{
    margin-top: 0px;
}

.color-fondo-preguntas {
    background-color: $color-fondo !important;
}

.color-pregunta {
    color: $color-principal;
}

.color-respuesta {
    color: $color-terciario;
}

.estilo-preguntas{
    padding: 30px;
    box-shadow: 10px 5px 5px $color-terciario;
    transition: 1s;
}

.accordion-body {
    box-shadow: 10px 5px 5px $color-terciario;
}

.preguntas {
    margin-left: 15px;
    margin-right: 15px;
}
