/* Nav */
$color-principal: rgb(0, 106, 162);
$color-secundario: white;
$color-terciario: #1A1A1A;

.nav-color {
    background-color: $color-principal;
    margin-top: -8px;
    padding: 10px;
}

.nav-item-color {
    color: $color-secundario !important;

    &:hover {
        color: $color-terciario !important;
        font-weight:450;
        transition: 0.5s;
    }
}
