/*SOBRE NOSOTROS*/
$color-principal: rgb(0, 106, 162);
$color-secundario: white;
$color-terciario: #1A1A1A;

.subtitulo {
    font-weight: bold;
    text-decoration: underline;
    text-decoration-thickness: 3px;
}


.info-item {
    margin-top: 20px;
    margin-left: 15px;
    margin-right: 15px;
    padding: 20px;
    background-color: $color-principal;
    border: 2px solid $color-terciario;
    box-shadow: 10px 5px 5px $color-terciario;
    transition: 0.5s;

    &:hover {
        margin-top: 30px;
        margin-left: 0px;
        margin-right: 0px;
        transition: 1s;
    }
}

