/*-----------------MARCAS-------------------*/
.marcas-container {
    display: grid;
    justify-content: space-around;
    grid-template-columns: repeat(auto-fit , 200px);
    column-gap: 10px;
    row-gap: 10px ;
}