/*-----------------MARCAS-------------------*/
.marcas-container {
    display: grid;
    justify-content: space-around;
    grid-template-columns: repeat(auto-fit , 200px);
    column-gap: 10px;
    row-gap: 10px ;
    border: 1px solid red;
    
}

.marcas-img {
    height:150px;
}

.img-1{
    background-color: aqua;
}

.img-2{
    background-color: blue;
}
.img-3{
    background-color: cadetblue;
}
.img-4{
    background-color: darkmagenta;
}
.img-5{
    background-color: gold;
}
.img-6{
    background-color: hotpink;
}
.img-7{
    background-color: indianred;
}
.img-8{
    background-color: khaki;
}

.img-9{
    background-color: lawngreen;
}
.img-10{
    background-color: maroon;
}

.img-11{
    background-color: navy;
}
.img-12{
    background-color: orange;
}
.img-13{
    background-color: paleturquoise;
}

.img-14{
    background-color: rosybrown;
}
.img-15{
    background-color: slategray;
}