.grid-container {
    display: grid;

    /* justify start | end | center | stretch */
    justify-content: center;

    /* align start | end | center | stretch */
    align-items: center;

    /* auto como unidad de medida */
    grid-template-columns: auto auto;
    grid-template-rows: 100px 100px;

    /* row y column gap para espaciado */
    row-gap: 10px;
    column-gap: 10px;
}

.grid-container .grid-item {
    border: solid 1px;
    font-size: 21px;
    padding: 5px;
    background-color: yellow;
}


.first-item {
    /* justify y align self*/
    justify-self: center;
    align-self: center; 
}