/* Regla de la media query*/
@media only screen and (max-width: 500px) {
    body {
        background-color: #B2D6F9;
    }
}

/* Tablet */
@media only screen and (min-widht: 501px) and (max-width: 960px) {
    body {
        background-color: #F2D6F9;
    }
}

/* Desktop */
@media only screen and (min-widht: 961px) {
    body {
        background-color: lightcoral;
    }
}