#grilla {
    display: grid;
    grid-template-rows: 100px 1fr 1fr 75px;
    grid-template-columns: 20% 1fr 15%;
    
    /* grid template areas*/
    grid-template-areas: "nav header header"
    "nav productos aside"
    "nav prodcutos aside"
    "foote footer footer";
}

.border {
    border: 1px solid black;
}

header {
    grid-area: header;
}

#productos {
    grid-area: productos;
}

#servicios {
    grid-area: servicios;
}

aside {
    grid-area: aside;
}

nav {
    grid-area: nav;
}

footer {
    grid-area: footer;
}