/* Nav */
.nav-color {
    background-color: rgb(0, 106, 162);
    margin-top: -8px;
    padding: 10px;
}

.nav-item-color {
    color: white !important;
}

.nav-item-color:hover {
    color: black !important;
    font-weight:450;
    transition: 0.5s;
}

/*Logo*/

.logoPrincipal {
    width: 150px;
    height: 60px;
    margin-left: 50%;
}

/* body */
.titulo {
    text-align: center;
    font-family:'Times New Roman', Times, serif;
    color: rgb(0, 106, 162);
}


/* Carousel INICIO */
.carousel-foto {
    height: 350px;
}


/* Articulos*/
.articulos-container {
    display: flex;
    justify-content:space-around;
    flex-wrap: wrap;
}

.estilo-carta {
    background-color: rgb(0, 106, 162);
}

.tamaño-foto-art {
    width: 200px;
    height: 200px;
} 

.boton-articulos {
    color: white !important;
    font-weight: 500 !important;
    margin-left: 122px ;
}

.bot-pos {
    margin-left: 150px;
}

.boton-articulos:hover {
    color: black !important;
    transition: 0.5s !important;
}

.estilo-boton {
    background-color: transparent !important;
    border: 2px solid white !important;
}

.estilo-boton:hover {
    background-color: white !important;
    transition: 0.5s;
}

h5 {
    text-align: center;
    color: white !important;
}

.articulo-texto {
    text-align: center;
    color: white !important;
}


/*------------------FOOTER-----------------------*/
footer {
    background-color: rgb(0, 106, 162);
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.titulo-footer {
    color: white;
    text-decoration:underline;
    font-size: 1.3rem;
    margin-left: 30px;
}

ul {
    list-style-type: none;
}

ul a {
    font-weight:500;
    color: black;
    text-decoration: none;
    transition: 0.4s;
}

ul a:hover {
    color: white;
    font-weight: 500;
    transition: 0.4s;
}

p a {
    color: black;
}

p a:hover {
    color: white;
}

.logoRedSocial {
    width: 30px;
    height: 30px;
}

.flecha-arriba {
    width: 40px;
    height: 40px;
}

/* Medios de Pago */
.medios-de-pago {
    margin-left: 10px;
}

.medioDePago {
    width: 50px;
    height: 30px;
}

/* Contacto */
.contacto-png {
    width: 20px;
    height: 20px;
}

.footer-text {
    margin-left: 30px;
}

.horario-png {
    width: 20px;
    height: 20px;
}

/*BOTON DE WHATSAPP*/
.boton-whatsapp {
    position: fixed;
    width: 55px;
    height: 55px;
    line-height: 55px;
    bottom: 30px;
    right: 30px;
    background: #40C351;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 3);
    z-index: 100;
    transition: 0.3s;
}

.boton-whatsapp:hover {
    text-decoration: none;
    background: #FCFCFD;
    transition: 0.3s;
}

.copyright {
    position: absolute;
    margin-right: 100%;
    margin-top: 400px;
}



/* Grid CONTACTO */


/* IFRAME */
iframe {
    width: 100%;
    margin-top: 50px;
}


/*-------------------SOBRE NOSOTROS--------------------------*/
.subtitulo {
    font-weight: bold !important;
    text-decoration: underline;
    text-decoration-thickness: 3px;
}


.info-item {
    margin-top: 20px;
    margin-left: 15px;
    margin-right: 15px;
    padding: 20px;
    background-color: rgb(0, 106, 162);
    border: 2px solid black;
    box-shadow: 10px 5px 5px black;
    transition: 0.5s;
}

.info-item:hover {
    margin-top: 30px;
    margin-left: 0px;
    margin-right: 0px;
    transition: 1s;
}


/*-----------------MARCAS-------------------*/
.marcas-container {
    display: grid;
    justify-content: space-around;
    grid-template-columns: repeat(auto-fit , 200px);
    column-gap: 10px;
    row-gap: 10px ;
    border: 1px solid red;
    
}

.marcas-img {
    height:150px;
}

.img-1{
    background-color: aqua;
}

.img-2{
    background-color: blue;
}
.img-3{
    background-color: cadetblue;
}
.img-4{
    background-color: darkmagenta;
}
.img-5{
    background-color: gold;
}
.img-6{
    background-color: hotpink;
}
.img-7{
    background-color: indianred;
}
.img-8{
    background-color: khaki;
}

.img-9{
    background-color: lawngreen;
}
.img-10{
    background-color: maroon;
}

.img-11{
    background-color: navy;
}
.img-12{
    background-color: orange;
}
.img-13{
    background-color: paleturquoise;
}

.img-14{
    background-color: rosybrown;
}
.img-15{
    background-color: slategray;
}



/*-------------------FAQ------------------------------------*/
h1 {
    font-size: 50px !important;
    margin-top: 50px !important;
}

.accordion-item{
    margin-top: 30px;
}

.color-preguntas {
    background-color: rgb(0, 106, 162) !important;
}

.estilo-preguntas{
    padding: 30px !important;
    box-shadow: 10px 5px 5px black;
    transition: 1s;
}

.accordion-body {
    box-shadow: 10px 5px 5px black;
}

.preguntas {
    margin-left: 15px;
    margin-right: 15px;
}


/*------------------CONTACTO ------------------------*/
.contacto-item {
    margin-top: 20px;
    margin-left: 20%;
    margin-right:20%;
    padding: 20px;
    background-color: rgb(0, 106, 162);
    border: 2px solid black;
    box-shadow: 10px 5px 5px black;
    transition: 0.5s;
    
}

.contacto-item:hover {
    transition: 1s;
}

.contacto-item p a {
    color: white ;
    font-size: 1.5rem;
}

.contacto-item p a:hover {
    color: black ;
}

.contacto-item span {
    color: white;
    font-size: 1.2rem;
}

.subtitulo-contacto{
    font-size: 2.5rem;
}

.dias {
    font-size: 1.2rem;
}




/*  Medias Query 
@media only screen and (max-width: 425px) {
    
}


@media only screen and (min-width: 426px) and (max-width: 768px) {

}

@media only screen and (min-width: 1024){
    
} */