/* Nav */
.nav-color {
    background-color: rgb(0, 106, 162);
    margin: -8px;
    padding: 10px;
}

.nav-item-color {
    color: white !important;
}

.nav-item-color:hover {
    color: black !important;
    font-weight:450;
    transition: 0.5s;
}

/*Logo*/

.logoPrincipal {
    width: 150px;
    height: 60px;
    margin-left: 50%;
}

/* body */
.titulo {
    text-align: center;
    font-family:'Times New Roman', Times, serif;
    color: rgb(0, 106, 162);
}


/* Carousel INICIO */
.carousel-foto {
    height: 350px;
}


/* Articulos*/
.articulos-container {
    display: flex;
    justify-content:space-around;
    flex-wrap: wrap;
}

.estilo-carta {
    background-color: rgb(0, 106, 162);
}

.tamaño-foto-art {
    width: 200px;
    height: 200px;
} 

.boton-articulos {
    color: white !important;
    font-weight: 500 !important;
    margin-left: 122px ;
}

.boton-articulos:hover {
    color: black !important;
    transition: 0.5s !important;
}

.estilo-boton {
    background-color: transparent !important;
    border: 2px solid white !important;
}

.estilo-boton:hover {
    background-color: white !important;
    transition: 0.5s;
}

h5 {
    text-align: center;
    color: white !important;
}

.articulo-texto {
    text-align: center;
    color: white !important;
}

/*Footer*/
footer {
    display: flex;
    background-color: rgb(0, 106, 162);
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
}

.titulo-footer {
    color: white;
    text-decoration:underline;
    font-size: 1.3rem;
    margin-left: 30px;
}

ul {
    list-style-type: none;
}

ul a {
    font-weight:500;
    color: black;
    text-decoration: none;
    transition: 0.4s;
}

ul a:hover {
    color: white;
    font-weight: 500;
    transition: 0.4s;
}

.logoRedSocial {
    width: 30px;
    height: 30px;
}

.flecha-arriba {
    width: 40px;
    height: 40px;
}

/* Medios de Pago */
.medios-de-pago {
    margin-left: 100px;
}

.medioDePago {
    width: 50px;
    height: 30px;
}

/* Contacto */
.contacto-png {
    width: 20px;
    height: 20px;
}

.footer-text {
    margin-left: 30px;
}

.horario-png {
    width: 20px;
    height: 20px;
}

/*BOTON DE WHATSAPP*/
.boton-whatsapp {
    position: fixed;
    width: 55px;
    height: 55px;
    line-height: 55px;
    bottom: 30px;
    right: 30px;
    background: #40C351;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 3);
    z-index: 100;
    transition: 0.3s;
}

.boton-whatsapp:hover {
    text-decoration: none;
    background: #FCFCFD;
    transition: 0.3s;
}

.copyright {
    position: absolute;
    margin-right: 100%;
    margin-top: 400px;
}



/* Grid CONTACTO */


/* IFRAME */
iframe {
    width: 100%;
    margin-top: 50px;
}


